{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column justify-content-between" style="min-height: 80vh;">
    <!-- Centered header -->
    <div>
        <h1 class="text-center mt-5">Upload hier uw bestand</h1>
        <h3 class="text-center mt-3">Voor nu alleen csv-bestanden</h3>
    </div>

    <!-- File upload form -->
    <form id="upload-form" action="" method="post" enctype="multipart/form-data" class="text-center mt-5">
        {% csrf_token %}
        <!-- File input field -->
        <div class="mb-3">
            <input type="file" id="fileInput" name="csv_file" accept=".csv" class="form-control w-50 mx-auto" onchange="updateFilePath()" required>
        </div>

        <!-- Display selected file name -->
        <div class="mb-3">
            <input type="text" id="filePath" class="form-control w-50 mx-auto text-center" readonly placeholder="Geen bestand geselecteerd">
        </div>

        <!-- Submit button -->
        <div class="text-center mt-5 mb-4">
            <a href="{% url 'overzicht' %}" class="btn btn-outline-secondary btn-lg" style="background-color: #f8f9fa;">
                Maak riool model
            </a>
        </div>
    </form>

    <!-- "Terug" button at the bottom of the content div -->
    <div class="text-center mt-5 mb-4">
        <a href="{% url 'landing' %}" class="btn btn-outline-secondary btn-lg" style="background-color: #f8f9fa;">
            Terug
        </a>
    </div>
</div>

<script>
    // Update file path input when a file is selected
    function updateFilePath() {
        var fileInput = document.getElementById('fileInput');
        var filePath = document.getElementById('filePath');
        filePath.value = fileInput.files[0].name;
    }
</script>
{% endblock %}
